  body {
  font: 16px/26px 'Open Sans', Helvetica, Helvetica Neue, Arial;
  background-color: black;
  color: #2b4d66;
  overflow: hidden;
  margin: 0;
}

.centerH {
  width: 100%;
  height: 1px;
  background-color: grey;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.centerW {
  height: 100%;
  width: 1px;
  background-color: grey;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

nav {
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: absolute;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: grey;
}


.animContainerL,
.animContainerR {
  position:absolute;
  width:400px;
  height:400px;
  opacity: 1;
  pointer-events: all;
  top: -200px;
  left: -200px;
  transform: scale(0);
  /*border: 1px solid rgba(255,255,255,.1)*/
}

/*.line {
}
.line > g > path{
  stroke: red;
}
#lineOne > g > path{
  stroke: blue;
}*/

.compContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.botas_loop_3,.botas_loop_2{
  display:none
}